:root {
    --main-color: #34547A;
    --text-color: #727272;
    --background-color: #EEEFF1;
    --letter-spacine: 0.1em;
}

* {
    box-sizing: border-box
}

body {
    font-family: Roboto, sans-serif;
    min-width: 1150px;
}

.container {
    max-width: 1150px;
    padding-inline: 20px;
    margin-inline: auto;
    padding-block: 100px;
}

header, .light-dark__container{
    background-color: var(--background-color)
}

ol {
    display: flex;
    gap: 42px;
    list-style-type: none;
    padding-bottom: 162px;
    padding-inline: 0;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacine);
}

nav a:hover {
  color: #34547A;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 60px;
}

.paragraph {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
    width: 540px;
}

.header__button {
    margin-block: 62px 41px;
    padding: 20px 41px;
    border: none;
    background-color: var(--main-color);
    color: white;
    letter-spacing: var(--letter-spacine);
}

.about-block__header {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    padding-top: 12px;
}

.about-block__text {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

.dark-container {
    background-color: var(--main-color);
    color: white;
}

.works {
    display: flex;
    justify-content: center;
    gap: 42px;
}

.works__items {
    width: 141px;
    height: 50px;
    padding-left: 70px;
    font-size: 21px;
    line-height: 25px;
    background: left no-repeat url("project.svg");
    font-weight: 500;
}

.works__projects {
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
}

.light-dark__text .paragraph {
    text-align: center;
    margin: 0 auto;
}

.light-dark__text .paragraph {
    padding-block: 50px 57px;
}

footer .container {
    padding-block: 50px;
}

.author-name {
    font-weight: 500;
    font-size: 21px;
}

.since {
    font-weight: 400;
    font-size: 13px;
}

