*{font-family: "Montserrat", "Source Code Pro",  sans-serif;}

form{
    width: 900px;
    background-color: #17D0D8;
    padding: 18px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

fieldset{
    border: none;
    margin-left: 130px;
}

legend{
    font-size: 24px;
    margin-left: 170px;
}

select{
    display: block;
    width: 550px;
    margin-top: 2px;
    margin-bottom: 8px;
    font-size: 20px;
    padding: 10px;
    border: solid 1px;
    border-radius: 8px;
}

button{
    border: none;
    background-color: black;
    color: white;
    margin-top: 16px;
    padding: 18px 24px 18px 24px;
    font-size: 20px;
}



