.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 24px;
}

.pages a{
    text-decoration: none;
    margin-left: 8px;
    color: black;
    background-color: #17D0D8;
    font-weight: 500;
    font-size: 20px;
    padding: 8px 24px 8px 24px;
    transition: 0.5s;
}

.pages a:hover{
    opacity: 0.8;
    padding-top: 14px;
    padding-bottom: 14px;
}

.site-name{
    color: white;
    margin-left: 32px;
    margin-top: 24px;
}